@import 'grain_effect';
@import 'typewriter';

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
}

h1 {
  color: white;
  font-size: 1.5em;
}

p {
  font-family: roboto, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  color: white;
}

.container {
  padding: 5vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  position: relative;
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  font-size: 1em;
  border: solid 2px #fff;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  transition: all .3s;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #fff;
    transition: all .3s;
  }

  &:hover::after {
    width: 110%;
    right: -5%;
    transition: all .3s;
  }
}
