.video {
  .container {
    padding: 0;
    min-height: auto;
  }

  .video-container {
    position: relative;
    height: 80vh;

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .subtitle-container {
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;

    .elements {
      width: 20%;
      position: relative;
    }

    .subtitles {
      position: relative;
      width: 80vw;
      padding: 5px 20px;

      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2em;
        line-height: 1em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        margin: 0;
        opacity: 0;

        &.large {
          font-size: 3em;
          line-height: 1.2em;
          font-weight: 700;
        }

        &.xlarge {
          font-size: 4em;
          line-height: 1.2em;
          font-weight: 900;
        }
      }
    }
  }
}
