.video {
  .container {
    padding: 0;
    min-height: auto;
  }

  .video-container {
    position: relative;
    height: 80vh;
    width: 100vw;

    video {
      width: 100%;
    }

    #laptop-1, #laptop-2, #mobile {
      position: absolute;
      width: calc(100% - 40px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: black;
      padding: 20px;
      padding-bottom: 30px;
      padding-bottom: 30px;
      text-align: center;
    }

    #laptop-2 {
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }

  .subtitle-container {
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;

    .elements {
      width: 20%;
      position: relative;
    }

    .subtitles {
      position: relative;
      width: 80vw;
      padding: 5px 20px;

      p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2em;
        line-height: 1em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        margin: 0;
        opacity: 0;

        &.large {
          font-size: 3em;
          line-height: 1.2em;
          font-weight: 700;
        }

        &.xlarge {
          font-size: 4em;
          line-height: 1.2em;
          font-weight: 900;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 812px) {
  #laptop-1, #laptop-2 {
    visibility: hidden;
  }
}

@media only screen and (min-device-width: 813px) {
  #mobile {
    visibility: hidden;
  }
}
